<!-- <admin-nav-bar></admin-nav-bar> -->
<div class="list row">
    <div class="col-md-8">
      <!--
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div> 
      </div>-->
    </div>
    <div *ngIf="showSubmission; then submissionList else assignmentList" ></div>
    <ng-template #submissionList>
      <div class="col-md-8"  style="position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);">
        <h4>Assignment List</h4>
        <ag-grid-angular 
        style="width: 100%; height: 300px;" 
        class="ag-theme-alpine" 
          (gridReady)="onGridReady($event)"  
          [columnDefs]="submissionColumnDefs" 
          [rowData]="submittedAssignments" 
          rowSelection="single" 
          pagination="true" 
          paginationPageSize=5  
        ></ag-grid-angular> 
        <!-- <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let tutorial of tutorials; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(tutorial, i)"
          >
            {{ tutorial.title }}
          </li>
        </ul> -->
    
        
        <button *ngIf="!isAdmin"  class="m-3 btn btn-sm btn-primary" (click)="editAssignment()">
          Submit
        </button>
        <button *ngIf="!isAdmin" class="m-3 btn btn-sm btn-primary" routerLink="submission">
          See your submission 565
        </button>
        <button *ngIf="showSubmission" class="m-3 btn btn-sm btn-info" (click)="changeShowStatus()">
          View Assignments
        </button>
      </div>
  
    </ng-template>
    <ng-template #assignmentList>
    <div class="col-md-8" style="position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);"  >
      <h4>Assignment List</h4>
      <ag-grid-angular 
        style="width: 100%; height: 300px;" 
        class="ag-theme-alpine" 
        (gridReady)="onGridReady($event)"  
        [columnDefs]="assignmentColumnDefs" 
        [rowData]="assignments" 
        rowSelection="single" 
        pagination="true" 
        paginationPageSize=5  
      ></ag-grid-angular> 
      <!-- <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.title }}
        </li>
      </ul> -->
  
      <button *ngIf="isAdmin" class="m-3 btn btn-sm btn-success" routerLink="add">
        Add assignment
      </button>
      <button *ngIf="isAdmin"  class="m-3 btn btn-sm btn-warning" (click)="editAssignment()">
        Edit
      </button>
      <button *ngIf="!isAdmin"  class="m-3 btn btn-sm btn-success" (click)="editAssignment()">
        Submit
      </button>
      <button *ngIf="!isAdmin" class="m-3 btn btn-sm btn-info" routerLink="submission">
        See your submission
      </button>
      <button *ngIf="isAdmin && !showSubmission" class="m-3 btn btn-sm btn-info" (click)="changeShowStatus()">
        View Submission
      </button>
    </div>
  </ng-template>

    <!-- <div *ngIf="showSubmission; then submission-list else assignment-list"></div>
    <ng-template #submission-list><admin-nav-bar></admin-nav-bar></ng-template>
    <ng-template #assignment-list><student-nav-bar></student-nav-bar></ng-template>


    <button class="m-3 btn btn-sm btn-primary" (click)="changeShowStatus()">View Submission</button>
    <button class="m-3 btn btn-sm btn-primary" (click)="changeShowStatus()">View Submission</button> -->
    <div class="col-md-6">
      <div *ngIf="currentAssignment">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentAssignment.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentAssignment.description }}
        </div>
        <!-- <div>
          <label><strong>Status:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pending" }}
        </div> -->
  
        <a *ngIf="isAdmin" class="badge badge-warning" routerLink="admin/assignments/{{ currentAssignment.id }}">
          Edit
        </a>
        <a *ngIf="!isAdmin" class="badge badge-warning" routerLink="student/assignments/{{ currentAssignment.id }}">
          Submit
        </a>
        
      </div>
  
      <div *ngIf="isAdmin && !currentAssignment">
        <br />
        <p>Select an assignment if you want to update...</p>
      </div>
      <div *ngIf="!isAdmin && !currentAssignment">
        <br />
        <p>Select an assignment you want to submit...</p>
      </div>
    </div>
  </div>