.project-form-class{
    position: fixed;
    top: 45%;
    left: 89%;
    width: 40%;
    /* bring your own prefixes */
    transform: translate(-80%, -80%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        border: 1px solid rgba(0,0,0,0.4);
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        padding: 15px;
}

.edit-form-class{
    position: fixed;
    top: 55%;
    left: 50%;
    width: 60%;
    height: 40%;
    /* bring your own prefixes */
    transform: translate(-80%, -80%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        border: 1px solid rgba(0,0,0,0.4);
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        padding: 15px;
}