<!-- <admin-nav-bar></admin-nav-bar> -->
<div *ngIf="currentAssignment" class="edit-form" class="custom-form-class">
    <h4>Assignment</h4>
    <form  #f="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
          <div *ngIf="title.errors.required">
            Should not be empty
          </div>
          <div *ngIf="title.errors.minlength">
            Min Length should be 10
          </div> 
        </div>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentAssignment.title"
          name="title"
          #title="ngModel"
          required
          minlength="10"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
          <div *ngIf="description.errors.required">
            Should not be empty
          </div>
          <div *ngIf="description.errors.minlength">
            Min Length should be 10
          </div> 
        </div>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentAssignment.description"
          name="description"
          #description="ngModel"
          required
          minlength="10"
        />
      </div>
      <div class="form-group" *ngIf="!authService.isAdmin">
        <label for="solution">Solution</label>
        <div class="alert alert-danger" *ngIf="solution.touched && !solution.valid">
          <div *ngIf="solution.errors.required">
            Should not be empty
          </div>
          <div *ngIf="solution.errors.minlength">
            Min Length should be 10
          </div> 
        </div>
        <input
          type="text"
          class="form-control"
          id="solution"
          [(ngModel)]="currentSolution"
          name="solution"
          #solution="ngModel"
          required
          minlength="10"
        />
      </div>
      <!-- <div class="form-group">
        <label for="name">Enter Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="SubmittedAssignment.name"
          name="name"
        />
      </div> -->
     
      <div *ngIf="!authService.isAdmin()">
        <button 
          type="submit" 
          class="badge badge-success" 
          [disabled]="!title.valid || !description.valid || !solution.valid" 
          (click)="submitAssignment(f.value)">
          Submit Assignment
        </button>
      </div>
      <div *ngIf="!authService.isAdmin() && isSubmitted">
        <button 
          type="submit" 
          class="badge badge-success"
          [disabled]="!title.valid || !description.valid || !solution.valid" 
          (click)="updateSubmission()">Submit Again</button>
      </div>
  
      <!-- <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div> -->
    </form>
  
    <!-- <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button> 
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>-->
<!--   
    <div *ngIf="!authService.isAdmin()">
      <button type="submit" class="badge badge-success" (click)="submitAssignment(f.value)">Submit Assignment</button>
    </div> -->
                     
    <button *ngIf="authService.isAdmin()" class="badge badge-danger mr-2" (click)="deleteAssignment()">
      Delete
    </button>
  
    <button *ngIf="authService.isAdmin()" [disabled]="!title.valid || !description.valid" type="submit" class="badge badge-success" (click)="updateAssignment()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentAssignment">
    <br />
    <p style="display:text-align=cener">Loading Please wait </p>
  </div>