<div  class="edit-form" class="custom-form-class">
    <h4>Assignment</h4>
    <form  #f="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="SubmittedAssignment.assignmentTitle"
          name="title"
          readonly
        />`
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="SubmittedAssignment.assignmentDescription"
          name="description"
          readonly
        />
      </div>
      <div class="form-group" *ngIf="isSubmitted">
        <label for="solution">Solution</label>
        <div class="alert alert-danger" *ngIf="solution.touched && !solution.valid">
          <div *ngIf="solution.errors.required">
            Should not be empty
          </div>
          <div *ngIf="solution.errors.minlength">
            Min Length should be 10
          </div> 
        </div>
        <input
          type="text"
          class="form-control"
          id="solution"
          [(ngModel)]="SubmittedAssignment.assignmentSolution"
          name="solution"
          #solution="ngModel"
          required
          minlength="10"
        />
      </div>
      <div class="form-group" *ngIf="!isSubmitted">
        <label for="solution">Solution</label>
        <input
          type="text"
          class="form-control"
          id="solution"
          ngModel
          name="solution"
        />
      </div>
      <div class="quantity" *ngIf="authService.isAdmin()" style="display: block;" >
        <label for="marks" style="float:left">Enter Marks in range 1-10  </label>
        
        <input
        formtarget="focus" 
        style="float:left"
        type="number" 
        min="1" 
        max="10" 
        step="1" 
        value="1" 
        name="marks"
        required
        [(ngModel)]="SubmittedAssignment.score"
        >
      </div>
 
      <div *ngIf="!authService.isAdmin() && !isSubmitted " >
        <button type="submit" class="badge badge-success" [disabled]="!solution.valid" (click)="submitAssignment(f.value)">Submit Assignment </button>
      </div>
      <div *ngIf="!authService.isAdmin() && isSubmitted && SubmittedAssignment.score==0 " >
        <button type="submit" class="badge badge-success" [disabled]="!solution.valid" (click)="updateSubmission()">Submit Updated Assignment</button>
      </div>
      <br>
      <br>
      <button *ngIf="authService.isAdmin()" class="m-3 btn btn-sm btn-warning" (click)="evaluteAssignment()">
        Evalute
      </button>
    </form>

    <p  *ngIf="!authService.isAdmin()">{{ message }}</p>
  </div>
