<div *ngIf="evaluateStatus">
  
  <form #projectevaluation="ngForm">
    <h3>Evaluate the project on the basis of </h3>
    <div class="form-group">
      <label for="build">Build Quality</label>
          <input
          type="number"
          min=1
          max=10
          class="form-control"
          id="build"
          ngModel
          name="build"
          />  
    </div>
    <div class="form-group">
      <label for="process">Process Followed</label>
          <input
          type="number"
          min=1
          max=10
          class="form-control"
          id="process"
          ngModel
          name="process"
          />  
    </div>
    <div class="form-group">
      <label for="test">Testing Coverage</label>
          <input
          type="number"
          min=1
          max=10
          class="form-control"
          id="test"
          ngModel
          name="test"
          />  
    </div>
    <button  type="button" class="m-3 btn btn-sm btn-success"  (click)="submitEvaluation(projectevaluation.value)">
      Submit Evaluation
    </button>


  </form>
   
</div>

<div *ngIf="!evaluateStatus">



<div *ngIf="displayStudentList" class="col-md-8" style="position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);">
      <h4>Student List</h4>
      <ag-grid-angular 
        style="width: 100%; height: 300px;" 
        class="ag-theme-alpine" 
        (gridReady)="onGridReady($event)"  
        [columnDefs]="columnDefs" 
        [rowData]="studentData" 
        rowSelection="single" 
        pagination="true" 
        paginationPageSize=5  
      ></ag-grid-angular>

      <button  class="m-3 btn btn-sm btn-info" (click)="showStudentDetails()">
        Project Details
      </button>  
</div>

<div *ngIf="!displayStudentList">

  <div *ngIf=viewStatus >

    <div style="display: inline-block;" >
      <h2>{{currentStudent.name}} Project Status</h2>
    <ngx-charts-pie-chart
      [view]="[500, 300]"
      [scheme]="{domain: ['#5AA454', '#A10A28', '#C7B42C']}"
      [results]="completionData"
      [legend]="true"
      [labels]="true"
      [doughnut]="true"
      [legendPosition] = "'bottom'"
      [legendTitle]="'Completion Status'"
      [labelFormatting]="pieChartLabelCompletion.bind(this, completionData)"
      [animations]="false">
    </ngx-charts-pie-chart>
    </div>
    <div style="display: inline-block;" >
    <ngx-charts-pie-chart
      [view]="[500, 300]"
      [scheme]="{domain: ['#5AA454', '#A10A28', '#C7B42C']}"
      [results]="testCoveredData"
      [legend]="true"
      [labels]="true"
      [doughnut]="true"
      [legendPosition] = "'bottom'"
      [legendTitle]="'Test Coverage'"
      [labelFormatting]="pieChartLabelTest.bind(this, testCoveredData)"
      [animations]="false">
    </ngx-charts-pie-chart>
    </div>
    <div  class="project-form-class" style="display: inline-block;">

      <form  #f="ngForm">
        <div class="form-group">
          <label for="name">Project Title</label>
          <br>
          {{currentProject.projectTitle}}
        </div>
        <div class="form-group" >
          <label for="title">Project Description</label>
          <br>
          {{currentProject.projectDescription}}
        </div>
        <div class="form-group" >
          <label for="currentlyWorkingOn">Currently Working On</label>
          <br>
          {{currentProject.currentlyWorkingOn}}
        </div>
        <div class="form-group" >
          <label for="title">Github Link</label>
          <br>
          {{currentProject.githubLink}}
        </div>
        </form>
      
    </div>


    
    <button style="display:list-item;" class="m-3 btn btn-sm btn-warning" (click)="changeViewStatus()">
      Edit Project Allocation
    </button>
    <button style="display:list-item;" class="m-3 btn btn-sm btn-warning" (click)="evaluate()">
      Evaluate Project
    </button>
  </div>


  <div *ngIf="!viewStatus" >

  

    <!-- <admin-nav-bar></admin-nav-bar> -->
<div  class="edit-form" class="custom-form-class">
    <h4>Project Details</h4>
    <form  #f="ngForm">
      <div class="form-group">
        <label for="name">Student Name</label>
        <input
          readonly
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentStudent.name"
          name="name"
        />
      </div>
      <div class="form-group" *ngIf="isProjectAllocated">
        <label for="title">Project Title</label>
        <!-- <div *ngIf="projectData!=null" > -->
            <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentProject.projectTitle"
            name="title"
            />  
      </div>
      <div class="form-group" *ngIf="!isProjectAllocated">
        <label for="title">Project Title</label>
        <!-- <div *ngIf="projectData!=null" > -->
            <input
            type="text"
            class="form-control"
            id="title"
            ngModel
            name="title"
            />  
      </div>
      <div class="form-group" *ngIf="isProjectAllocated" >
        <label for="description">Project Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentProject.projectDescription"
          name="decription"
        />
      </div>
      <div class="form-group" *ngIf="!isProjectAllocated" >
        <label for="description">Project Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          ngModel
          name="description"
        />
      </div>
      <button  *ngIf="!isProjectAllocated" class="m-3 btn btn-sm btn-primary" (click)="saveProject(f.value)">
        Allocate Project
      </button>
      <button  *ngIf="isProjectAllocated" class="m-3 btn btn-sm btn-warning" (click)="updateProject()">
        Update Changes
      </button>
      <button  *ngIf="isProjectAllocated" class="m-3 btn btn-sm btn-info" (click)="changeViewStatus()">
        View Stats
      </button>
    </form>
    <!-- <button  class="m-3 btn btn-sm btn-primary" (click)="saveProject()">
        Save Changes
      </button>
     -->
  </div>
</div>
</div>
</div>
